<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    {{> head }}

  </head>
  <body ng-app="wordsApp">

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron jumbotron-fluid">
            <h1 class="display-3">{{ site.page.title }}</h1>
            <p class="lead">{{ site.page.description }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <h2>Full list of Words</h2>

          <div ng-repeat="word in vm.allWords track by $index">
            <h4>[[ word.word ]] <small class="text-muted">[ [[ word.pronunciation ]] ]</small></h4>
            <small>[[ word._id ]]</small>
            <p>[[ word.definition ]]</p>
            <div ng-if="word.meta.language">
              <span class="tag tag-default">[[ word.meta.language ]]</span>
              <span class="tag tag-default">[[ word.meta.created | date:'yyyy-M-d, H:m' ]]</span>
              <span class="tag tag-default">[[ word.meta.featured ]]</span>
            </div>
          </div>

        </div>

        <div class="col-md-6">

          <p>Logged in as: {{ user.google.name }} - {{ user.google.email }} (<a href="/logout">logout</a>)</p>

          <div class="alert alert-success" ng-show="vm.submitSuccess.status == 'success'" ng-class="vm.alertClass">
            [[ vm.submitSuccess.message ]]
          </div>
          <div class="alert alert-danger" ng-show="vm.submitSuccess.status == 'error'" ng-class="vm.alertClass">
            [[ vm.submitSuccess.message ]]
          </div>

          <form ng-submit="vm.sendWord()">
            <div class="form-group row">
              <label for="word" class="col-md-3 col-form-label">Word</label>
              <div class="col-md-9">
                <input ng-model="vm.wordForm.word" type="text" name="word" id="word" value="" placeholder="Enter your word" class="form-control"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="pronunciation" class="col-md-3 col-form-label">Pronunciation</label>
              <div class="col-md-9">
                <input ng-model="vm.wordForm.pronunciation" type="text" name="pronunciation" id="pronunciation" value="" placeholder="How do you pronounce the word?" class="form-control"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="definition" class="col-md-3 col-form-label">Definition</label>
              <div class="col-md-9">
                <textarea ng-model="vm.wordForm.definition" name="definition" id="definition" rows="8" cols="40" placeholder="What does the word mean?" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="language" class="col-md-3 col-form-label">Language</label>
              <div class="col-md-9">
                <select class="custom-select" name="language" id="language"
                  ng-model="vm.wordForm.meta.language" ng-options="a as b for (a,b) in vm.languages">
                  <option value="" disabled="disabled">-- Select a language --</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="author" class="col-md-3 col-form-label">Author</label>
              <div class="col-md-9">
                <input ng-model="vm.wordForm.meta.author" type="text" name="author" value="" placeholder="What's your name?" class="form-control"/>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 offset-md-6 text-md-right">
                <a href="#" class="btn btn-link" ng-click="vm.clearForm($event)">Clear</a>
                <button type="submit" class="btn btn-primary" name="button">Submit</button>
              </div>
            </div>
          </form>
          
        </div>

      </div>
    </div>

    {{> foot }}

  </body>
</html>
